[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle\\nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/textobj_line"]
	path = bundle/textobj_line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "bundle/textobj_user"]
	path = bundle/textobj_user
	url = https://github.com/kana/vim-textobj-user.git
